@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

body {
    margin: 0;
    padding: 0;
    background: red;
    font-family: 'Raleway';
}

.navbar img {
    height: 50px;
    margin-top: -18px;
}

.navbar {
    width: 100vw;
    background: #fff;
    height: 60px;
}

.navbar a {
    color: #010101;
    text-decoration: none;
}

.navbar a:hover {
    font-weight: 700;
}

.navbar li {
    font-size: 20px;
    padding: 12px;  
    float: left;
    list-style-type: none;
}

.li-right {
    float:right !important; 
}

.container {
    text-align: center;
    width: 100vw;
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: blue;
}

.container-content {
    margin-top: -150px;
    width: 500px;
}

input[type=text] {
    width: 400px;
    padding: 14px 20px;
    margin: 10px 5px;
    box-sizing: border-box;
}